<html>
<body>
<div class="row">
<div class="col-md-offset-2 col-md-7">

  <iframe width="800" height="500" frameborder="0" style="cover" src="https://embedwistia-a.akamaihd.net/deliveries/891a3c18f545c700be4a315ad74bf960ecfe1bcc/file.mp4" ></iframe>
</div>
</div>
</div>
</body>
</html>
