<html>
<body>
<div class="row">
<div class="col-md-offset-2 col-md-7">

  <iframe width="800" height="500" frameborder="0" style="cover" src="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4"></iframe>
</div>
</div>
</div>
</body>
</html>