<div class="col-md-offset-1 col-md-10">
  
<a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a>




 <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Arms Workout <span class="badge">Shoulders, Arms</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 10 Min Abs Workout <span class="badge">Abdominal and Oblique Exercises</span>
    </a>




 <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> 5 Minute Butt and Thigh Workout for a Bigger Butt <span class="badge"> Butt  </span><span class="badge">   Thighs</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> Fitness Blender's Relaxing Cool Down Stretch Workout
 <span class="badge">Stretching Routine</span>
    </a>




 <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a>




 <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a>




 <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a>




 <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a>




 <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a><a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a><a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a><a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a><a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a><a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a><a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a><a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a><a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a><a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a><a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a><a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a><a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a><a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Videos <span class="badge">8</span>
    </a>
    <a href="https://embed-ssl.wistia.com/deliveries/389d67fa9bf2ded9a16f0abc036045d243bc582f/file.mp4" class="list-group-item">
       <span class="glyphicon glyphicon-film"></span> 14 Minute Circuit Training <span class="badge">SixPackAbs</span>
    </a>
</div>