
<div class="col-md-offset-2 col-md-9">
  
<div class="alert alert-info fade in">
  <div class="center">  
<h1> Fitness Videos </h1>
  


    <div class="col-md-11">
      <div class="jumbotron">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/afghBre8NlI" frameborder="0" allowfullscreen></iframe>" 
        <span class="glyphicon glyphicon-film"></span> 5 Minute Butt and Thigh Workout for a Bigger Butt <span class="badge">Exercises to Lift </span><span class="badge">Butt   </span><span class="badge">Thighs </span>
    </a>

         </div>
         </div>
         <div class="col-md-11">
      <div class="jumbotron">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/yF9unRmGwGw" frameborder="0" allowfullscreen></iframe>
        <span class="glyphicon glyphicon-film"></span> 15 Ways To Get A Bigger Bum <span class="badge">BUM</span>
    </a>  

         </div>
         </div>
         <div class="col-md-11">
      <div class="jumbotron">
<iframe width="560" height="315" src="https://www.youtube.com/embed/rGRA6bD72CM" frameborder="0" allowfullscreen></iframe>
        <span class="glyphicon glyphicon-film"></span> Booty Shaper Workout - Glute and Thigh Exercises for a Bigger Butt <span class="badge"> Butt</span>
    </a>

         </div>
         </div>
         <div class="col-md-11">
      <div class="jumbotron">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/oUychjqfO8I" frameborder="0" allowfullscreen></iframe>
        <span class="glyphicon glyphicon-film"></span> Tank Top Arms Workout - Shoulders, Arms & Upper Back Workout<span class="badge"> Arms,Shoulders</span>
    </a>

         </div>
         </div>
    <%= link_to "view more videos", video01_path, class: "btn btn-primary" %>
   </div>
 
 
 
         </div>
         </div>


