<html>
<body>
<div class="row">
<div class="col-md-offset-2 col-md-7">

  <iframe width="800" height="500" frameborder="0" style="cover" src="https://embed-ssl.wistia.com/deliveries/fe3991253e3ba2cd3b3354b924a7e891a47055c4/file.mp4" ></iframe>
</div>
</div>
</div>
</body>
</html>
